@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyCustomFont';
  src: url('/src/assets/fonts/MyFont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'MyCustomFont', sans-serif;
}

.perspective {
  perspective: 1200px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.card-group {
  perspective: 1200px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.9s;
  transform-style: preserve-3d;
}

.card-group:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.card-back {
  transform: rotateY(180deg);
}

.active-pill {
  @apply bg-accent text-deepBlue font-semibold transition-all duration-300;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #FFAB00;
  border-radius: 4px;
}